[submodule "external/eigen"]
	path = external/eigen
	url = https://gitlab.com/libeigen/eigen
[submodule "external/pangolin"]
	path = external/pangolin
	url = https://github.com/stevenlovegrove/Pangolin
[submodule "external/fbow"]
	path = external/fbow
	url = https://github.com/rmsalinas/fbow
